---
name: Security Checks
run-name: Security checks
description: Scans for leaked secrets, lints Dependabot file and GitHub Actions workflows when code is pushed or a pull request is opened, reopened or synchronized.
permissions: {}

on:
  push:
    branches-ignore:
      - hozlucas28/github-action/workflow-test

  schedule:
    - cron: 0 8 * * *

  pull_request:
    branches-ignore:
      - hozlucas28/github-action/workflow-test

jobs:
  scan-leaked-secrets:
    name: Scan for leaked secrets
    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'schedule' }}

    permissions:
      contents: read # To checkout the repository
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ (github.event_name == 'pull_request' && github.event.pull_request.head.sha) || '' }}
          fetch-depth: 0
          persist-credentials: false

      - name: Scan for leaked secrets
        uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_ENABLE_COMMENTS: false
          GITLEAKS_NOTIFY_USER_LIST: ${{ env.ACT != 'true' && format('@{0}', github.actor) }}
          GITLEAKS_ENABLE_UPLOAD_ARTIFACT: ${{ env.ACT != 'true' }}

  lint-dependabot-and-workflows:
    name: Lint Dependabot file and GitHub Actions workflows
    runs-on: ubuntu-latest

    permissions:
      security-events: write # To create security alerts

    steps:
      - name: Checkout Dependabot file, GitHub Actions workflows directory, and Zizmor configuration
        uses: actions/checkout@v6
        with:
          ref: ${{ (github.event_name == 'pull_request' && github.head_ref) || '' }}
          sparse-checkout: |
            .github/dependabot.yml
            .github/workflows
            zizmor.yml
          persist-credentials: false
          sparse-checkout-cone-mode: false

      - name: Lint Dependabot file and GitHub Actions workflows
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          advanced-security: ${{ env.ACT != 'true' }}

env:
  CI: true
  LEFTHOOK: 0

concurrency:
  group: security-checks_${{ (github.event_name == 'push' && github.ref) || github.event.pull_request.number }}
  cancel-in-progress: true
