---
name: Security Checks
run-name: Security checks
description: Scans for leaked secrets when code is pushed or a pull request is opened, reopened or synchronized.
permissions: {}

on:
  push:
    branches:
      - main
    branches-ignore:
      - hozlucas28/github-action/workflow-test

  pull_request:
    branches-ignore:
      - hozlucas28/github-action/workflow-test

jobs:
  scan-leaked-secrets:
    name: Scan for leaked secrets
    runs-on: ubuntu-latest

    permissions:
      contents: read # To checkout the repository

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ (github.event_name == 'pull_request' && github.event.pull_request.head.sha) || '' }}
          fetch-depth: 0
          persist-credentials: false

      - name: Scan for leaked secrets
        uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_ENABLE_COMMENTS: false
          GITLEAKS_NOTIFY_USER_LIST: ${{ env.ACT != 'true' && format('@{0}', github.actor) }}
          GITLEAKS_ENABLE_UPLOAD_ARTIFACT: ${{ env.ACT != 'true' }}

env:
  CI: true
  LEFTHOOK: 0

concurrency:
  group: security-checks_${{ (github.event_name == 'push' && github.ref) || github.event.pull_request.number }}
  cancel-in-progress: true
